<% provide(:title, 'About') %>
<!-- <div id="bg" class = "hidden-phone">
	<%=image_tag('amsterdam.jpg')%>
</div>  -->

<div id = 'work-container' class = "work-grid">
	<div class="row-fluid">
		<div id = "" class = "span12 about clearfix">
		<div class = "about_me">
		  	
			  <h1>Aye!</h1>
			  <div class = "description">My name is Coulton Bunney. I'm currently finishing up my degree at Stanford in Symbolic Systems (no, it's not a cryptography major...) concentrating in Human-Computer Interaction. I hail from the great place of Pittsburgh, PA - a bastion of blue collar workers. I've had the opportunity to work with some truly talented people, participating in ImagineK12, taking a class with Dr. BJ Fogg, and most of all, working with the inspiring people over at Lumoback. And, when I'm bored of work, I love America's pasttime, baseball.</div>
		
		</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class = "span12 about">
			<div class = "social">
				<div>
					<%= link_to('https://twitter.com/coltbunney') do %>
		  				<i class="icon-twitter"></i>
						
					<% end %>
				</div>
				<div>
					<%= link_to('http://www.linkedin.com/pub/coulton-bunney/58/19b/661/') do %>
		  				<i class="icon-linkedin"></i>
						
					<% end %>
				</div>
				
			</div>
		</div>
	</div>
</div>

<script>
jQuery(".description").fitText(2, { minFontSize: '14px', maxFontSize: '24px' })
$(".social a").hover(
	function() {
		$(this).animate({ color: "#ee4938" }, 500);
	},function() {
	    $(this).animate({ color: "#ddd" }, 500);
	 }
);
</script>