<div id="portfolio" class="p2 mx-auto">
	<div class="flex flex-wrap content-stretch mxn1" style="min-height:100px;">
		<div class="sm-col sm-col-12 px1 mb3">
			<div>
				<div class="inline-block">
					<div id="face" class="circle overflow-hidden"><%=image_tag('myface_sq.png', :class =>'fit')%></div>
					<h1 class="left-align mt3">Coulton Bunney</h1>
					<p class="h3 mt3 regular left-align">Hey! I’m a product designer based in Brooklyn, NY. Not exactly original, but it is what it is.</p>
					<p class="h3 mt3 regular left-align">I joined <a href="http://www.flatiron.com">Flatiron Health</a> as the first designer back in 2015. We are redesigning the digital tools that are used thoughtout a cancer patient’s journey in order to drastically improve the doctor’s experience, patient care, and accelerate research.</p>
					<p class="h3 mt3 regular left-align">I believe in a systems-based design approach that leads to efficiently designed tools. Before Flatiron, I co-founded an education-technoloy company called <a href="http://www.chalkschools.com">Chalk Schools</a> that automates tedious paperwork for K-12 educators and led the user experience design for <a href="http://www.lumobodytech.com">Lumo BodyTech</a>, where we made wearable devices to help alleviate chronic back-pain by retraining your posture and biomechanics.</p>
				</div>
			</div>
		</div>
		<div class="sm-col sm-col-12 px1 mb2">
			<div class="">
				<h1>Case studies</h1>
 
				<a href="10-sec-experience" class="h3 block mt3">10-second experience</a>
				<p class="h4 mt1">How we used a combination of firmware tweak and software redesign to overcome the physical limitations of hardware.</p>
					
				<a href="insight-tiles" class="h3 block mt3">Insight tiles</a>
				<p class="h4 mt1">How we translated data into insights that could help a user develop better posture.</p>
					
				
			</div>
			
		</div>

	</div>
</div>