<div id="portfolio" class="p2 mx-auto">
	<div class="flex flex-wrap content-stretch mxn1" style="min-height:100px;">
		<div class="sm-col sm-col-12 px1 mb3">
			<div>
				<div class="inline-block">
					<div id="face" class="circle overflow-hidden"><%=image_tag('DecFH-243.jpg', :class =>'fit')%></div>
					<h1 class="left-align mt3">Hi, I'm Coulton.</h1>
					<p class="h3 mt3 regular left-align">I’m a Product Designer based in Brooklyn, NY. I believe in a systems-based design approach that leads to efficiently designed tools that help users spend less time with their screens, not more. </p>
					<p class="h3 mt3 regular left-align">I joined <a href="http://www.flatiron.com">Flatiron Health</a> as the first designer back in 2015, and now I lead a team of six amazing folks. Together, we've helped oncology clinics find more patients for clincal trials, redesigned the electronic health record used by 1 in 5 US oncologists, created a design system built specifically for healthcare, and streamlined tools used to enable oncology research. And our work has only just begun...</p>
					<p class="h3 mt3 regular left-align">Before Flatiron, I co-founded an education-technology company now called <a href="http://www.informedk12.com">InformedK12</a> that automates tedious paperwork for K-12 educators and led design for <a href="http://www.lumobodytech.com">Lumo BodyTech</a>, where we made wearable devices to help alleviate chronic back-pain by retraining your posture and biomechanics.</p>
				</div>
			</div>
		</div>
		<!-- <div class="sm-col sm-col-12 px1 mb2">
			<div class="">
				<h1>Case studies</h1>
  
				<a href="10-sec-experience" class="h3 block mt3">10-second experience</a>
				<p class="h4 mt1">How we used a combination of firmware tweak and software redesign to overcome the physical limitations of hardware.</p>
					
				<a href="insight-tiles" class="h3 block mt3">Insight tiles</a>
				<p class="h4 mt1">How we translated data into insights that could help a user develop better posture.</p>
					
				
			</div>
			
		</div> -->

	</div>
</div>