<% 
	provide(:title, 'Portfolio') 
	@work_link = "pressed"
	@about_link = ""

%>


<div class = "work-grid">
	<div class="row-fluid">
		<div id = "disgo_div" class = "span12 work">
			<div class = "span6">
				<h1>Disgo </h1>
				<div class = "description">Disgo is a mobile web application that makes your location a learning experience.
				</div>
				<div class = "built "><strong>Built using</strong></div>
				<div class = "built built_description">HTML5, CSS3, PHP, JQuery Mobile, Bootstrap</div>
				<div class = "row-fluid">
					<div class = "span12">

						<%= link_to('') do %>
			  				<div class = "well well-small learn-more">Learn more <i class="icon-plus-sign"></i>
							</div>
						<% end %>
					
					
						<%= link_to('http://bit.ly/godisgo') do %>
			  				<div class = "well well-small link-to">bit.ly/godisgo <i class="icon-link"></i>
							</div>
						<% end %>
					</div>
				</div>
				
				

			</div>
			<div class = "span6">
				<%=image_tag('disgo_share_large.png', :class =>'hidden-phone')%>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class = "span12 work">

		</div>
	</div>
</div>

<script>
$('.work .well').hover(function() {
    $(this).stop().animate({
        "backgroundColor": '#ddd',
        "color": '#333'
    }, 'fast')
}, function() {
    $(this).stop().animate({
        "backgroundColor": '#F5F5F5',
        "color": '#bbb'
    }, 'fast')
});
</script>
