<div id = "mainframe">
	<div id="frame1">
		<section id="construction">
			<video preload="auto" autoplay loop="loop" poster='' muted='true'>
			   <source src="<%=image_url('wind.mp4')%>" type='video/mp4' />
			 

			   <!-- <img src="/wp-content/themes/Lumo-Child/images/magic_of_lumo_screen.jpg" title="Your browser does not support the <video> tag" style="display:none">  
 -->

			 <!-- <source /> -->
			</video>
		</section>
		<div id="construction-blue">
			<h1>
				Willkommen
			</h1>
			<h3>
				I'm Coulton. I specilaize in designing user experiences rooted in behavior change principles. 
			</h3>

			<div id="links">
				<div>Some of my Projects:</div>
				<a id="lumo">Lumo BodyTech Inc.</a>
				<a id="chalk">Chalk Schools</a>
				<a id="disgo">Disgo</a>

			</div>
		</div>
	</div>
	<div id="frame2">
		<h1>Lumo BodyTech Inc.</h1>
		<h5>Lead User Experience Designer and Web Developer</h5>
	</div>

	<div id="frame3">
	</div>

	<div id="frame4">
	</div>

</div>