<% provide(:title, 'Portfolio') %>
<div class = "work-grid">
<div class="row-fluid">
	<div class = "span6 grid grid-top grid-l">
		<a href="#" class = "grid-icon">
 			<%=image_tag("lumo_pic.png")%>
 			<div class = "center">LUMOback</div>

		</a>
	</div>
	<div class = "span6 grid grid-top grid-r">
		<a href="#" class = "grid-icon">			
 			<i class="icon-globe "></i>
 			<div class = "center">Disgo</div>

		</a>
	</div>
</div>

<div class="row-fluid">

	<div class = "span6 grid grid-bottom grid-l">
		<a href="#" class = "grid-icon">			
			<%=image_tag("chalk_pic.png")%>
			<div class = "center">Chalk Schools</div>
		</a>
	</div>
	<div class = "span6 grid grid-bottom grid-r">
		
			<a href="#" class = "grid-icon">
 				<i class="icon-heart "></i>
 				<div class = "center">Project Compassion</div>

			</a>
	
	</div>
</div>
</div>
