<div id="portfolio" class="p2 mx-auto">
	<div class="flex flex-wrap content-stretch mxn1" style="min-height:100px;">
		<div class="sm-col sm-col-12 px1 mb2">
			<div>
				<div class="block">
					<div id="face" class="circle overflow-hidden"><%=image_tag('IMG_1878.jpg', :class =>'fit')%></div>
					<h1 class="h1 left-align mt3">Hi, I'm Coulton Bunney.</h1>
					<!-- <p class="h3 mt3 regular left-align">I’m a Product Designer based in Brooklyn, NY.</p> -->
			
					<p class="h3 mt3 regular left-align">I am currently a Digital Services Expert, focused on Design, at the <a href="https://www.usds.gov/">United States Digital Service</a>.</p>


					<p class="h3 mt3 regular left-align">Previously, I was Product and Design Lead at <a href="https://resolvetosavelives.org/">Resolve to Save Lives</a>, an initiative of the global non-profit Vital Strategies. At Resolve, I led a team building technology that helped scale the capacity of public health departments across the United States to conduct case investigation and contact tracing for Covid-19.</p>

					<p class="h3 mt3 regular left-align">Before that, I was Senior Director of Product Design at <a href="http://www.flatiron.com">Flatiron Health</a>. I joined as the first designer in 2015, and eventually built a team of 16 amazing folks. Together, we helped oncology clinics find more patients for clinical trials, redesigned the electronic health record used by 1 in 5 US oncologists, created a design system built specifically for healthcare, and streamlined tools used to enable first of its kind oncology research using real-world data.</p>
					
					<p class="h3 mt3 regular left-align">I've also co-founded an education-technology company now called <a href="http://www.informedk12.com">InformedK12</a> that automates tedious paperwork for K-12 educators and led design for Lumo BodyTech, where we made wearable devices to help alleviate chronic back-pain by retraining your posture and biomechanics.</p>
				</div>

				<!-- <div class="mt4 block">
					<h2 class="h2 mb0">Case study</h2>
					<div class="h3 mt1"><a href="oncoemr-refresh">Redesigning an electronic health record ⭢</a></div>
				</div> -->
				
				<div class="mt3 block">
					<h2 class="h2 mb0">Articles</h2>
					<div class="h3 mt1"><a href="https://hanno.co/healthredesigned/increasing-the-design-baseline-in-oncology/">Increasing the Design Baseline in Oncology ⭢</a></div>
					<div class="h3 mt1"><a href="https://sprintstories.com/the-three-questions-you-must-ask-when-running-a-design-sprint-c15f76778d6d">The Three Questions You Must Ask When Running a Design Sprint ⭢</a></div>
				</div>
				
				<div class="mt3 block">
					<h2 class="h2 mb1">Contact</h2>
					<a class="mr2 h3" href="mailto:cabunney@gmail.com">cabunney@gmail.com</a>
					<a class="mr2 h3" href="https://www.linkedin.com/in/coultonbunney/">LinkedIn</a>
					<%= link_to "Resume", asset_path("coultonbunney_resume_2022.pdf"), class: "h3" %> 
				</div>

			</div>
		</div>
		<!-- <div class="sm-col sm-col-12 px1 mb2">
			<div class="">
				<h1>Case studies</h1>
  
				<a href="10-sec-experience" class="h3 block mt3">10-second experience</a>
				<p class="h4 mt1">How we used a combination of firmware tweak and software redesign to overcome the physical limitations of hardware.</p>
					
				<a href="insight-tiles" class="h3 block mt3">Insight tiles</a>
				<p class="h4 mt1">How we translated data into insights that could help a user develop better posture.</p>
					
				
			</div>
			
		</div> -->
	
	</div>
</div>