/**
 * application-all.css
 *
 
 */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://unpkg.com/basscss@8.0.2/css/basscss.min.css");
/* line 2, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/_colors.css.scss */
.bg-green {
  background: #1A936F;
}

/* line 5, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/_colors.css.scss */
.text-white {
  color: #fff;
}

/* line 6, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/_colors.css.scss */
.text-green {
  color: #1A936F;
}

/* line 7, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/main.css.scss */
body {
  font-family: 'Lato','Helvetica','Arial',sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.5;
}

/* line 13, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/main.css.scss */
#portfolio {
  max-width: 800px;
  margin-bottom: 40px;
}

/* line 18, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/main.css.scss */
.border-top-10 {
  border-top-width: 10px !important;
}

/* line 22, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/main.css.scss */
a {
  color: #1A936F;
}
/* line 24, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/main.css.scss */
a:hover {
  color: #00603C;
}

/* line 29, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/main.css.scss */
.thin {
  font-weight: 300;
}

/* line 33, /Users/cabunney/code/coultonbunney.com/app/assets/stylesheets/all/main.css.scss */
#face {
  width: 130px;
  height: 130px;
}
