@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://unpkg.com/basscss@8.0.2/css/basscss.min.css");

@import 'variables';
@import 'colors';

body {
	font-family:'Lato','Helvetica','Arial',sans-serif;
	letter-spacing:0.02rem;
	line-height:1.5;
}

#portfolio {
	max-width:800px;
	margin-bottom:40px;
}

.border-top-10 {
	border-top-width:10px !important;
}

a {
	color:$green;
	&:hover {
		color:$green-hover;
	}
}

.thin {
	font-weight:300;
}

#face {
	width:130px;
	height:130px;
}