<div id="portfolio" class="p2 mx-auto">
	<div class="flex flex-wrap content-stretch mxn1" style="min-height:100px;">
		<div class="sm-col sm-col-12 px1 mb2">
			<div>
				<div class="inline-block">
					<h1 class="left-align mt3">Case study 3</h1>				
				</div>
			</div>
		</div>
	</div>
</div>