// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";


$link-color:#EE4938;

body {
	font-family:'HelveticaNeue',Arial,sans-serif;
	background-color:whitesmoke;
	a {
		color:black;
		&:hover { 
			text-decoration:none;
			color:$link-color;
		}
	}
	margin-bottom:30px;

}

@media (max-width:600px) { 
	#nav-links {
		width:100% !important;
		text-align:center;
		padding:0px !important;
		li a {	
			color:$link-color;
			margin-left:10px !important;
			margin-right:10px !important;
			margin-top:10px;
			margin-bottom:0px;
			&:hover{
				color:black;
			}
		}
	}

	#logo {
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center !important;
	}
	.work {
		padding:0px 15px 0px 15px !important;
		.well {
			// width:90% !important;
			margin-bottom:8px !important;
		}
		.btn {
			margin-bottom:8px !important;
			padding-left:5px;
			padding-right:5px;
			// max-width:100%;

		}
	}
	

	#work-container {
		padding-left:0px !important;
		padding-right:0px !important;
	}
}

@media (max-width:767px) { 
	.carousel {
		display:none !important;
	}
	.emphasis {
		text-decoration: none !important;
	}
}

@media (min-width: 601px) and (max-width:979px) { 
	#nav-l, #nav-r {
		width:50%;
		margin:0px;
	}
	#nav-l {
		float:left;
	}

	#nav-r {
		float:right;
	}
	#nav-links {
		text-align:right;
		padding:0px !important;
		li a {
			color:$link-color;
			margin-left:10px !important;
			margin-right:10px !important;
			&:hover{
				color:black;
			}
		}
	}

	#logo {
		display:block;
		margin-left:20px;
		text-align:left !important;
	}
	// .work {height:25em;}
	// .work {
	// 	.description {
	// 		margin-bottom:10px;
	// 	}
	// 	h1 {
	// 		margin-bottom:10px;
	// 	}
	// }
}

@media (min-width: 768px) {
	.work-grid {
		margin-left:10px;
		margin-right:10px;
	}
	// .work {height:25em;}
}

@media (min-width: 980px) { 
	#logo {
		display:block;
		margin-left:20px;
		text-align:left !important;
	}
	// .work {height:25em;}

}

@media (min-width: 1150px){
	.work {



	}
}


ul.inline  {
	margin-left: 0;
	list-style: none;
	li { 
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

.cont-nav {
	margin-top:20px;
	padding:0px 10px 10px 0px;
	border-bottom:1px solid #ddd ;
}

#header {
	max-width:1150px;
	margin-left:auto;
	margin-right:auto;
	// padding-right:10px;
	// padding-left:10px;
}

#logo {
	font-size:2.0em;
	width:8em;
	color:#999;
	line-height:50px;
	font-family:'HelveticaNeue';
	font-weight:bold;
	&:hover{
		color:$link-color;
	}
	
}

#nav-links {
	text-align:center;
	float:right;
	line-height:50px;
	i {
		font-size:2.0em;
	}
}


#nav-links li a {
	color:#999;
	margin-left:30px;
	margin-right:10px;
	&:hover{
		color:$link-color;
	}


}

#work-container {
	max-width:1150px;
	margin-left:auto;
	margin-right:auto;
	padding-right:10px;
	padding-left:10px;
}

.row-fluid {
	width:100%;
}

.work {
	margin-top:20px;
	width:100%;
	background:white;
	border:1px solid #ddd;
	padding:10px 25px 10px 25px;
	color:$link-color;
	// /* Safari 3-4, iOS 1-3.2, Android 1.6- */
 //  	-webkit-border-radius: 12px; 

 //  	/* Firefox 1-3.6 */
 // 	-moz-border-radius:    12px; 
  
	// /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	// border-radius: 12px; 

	h1 {
		margin-bottom:30px;
		margin-top:30px;
		span {
			float:left;
		}
	}
	.icon-tag {
		height:24px;

	}
	.span6 {
		float:left;
	}
	.description {
		font-family:'RobotoLight', 'HelveticaNeue', Arial, sans-serif;
		font-size:14px;
		margin-bottom:10px;
		// width:100%;
		display:inline-block;
		width:100%;


	}

	.built_description {
		margin-bottom:0px;
		font-family:'HelveticaNeue', Arial, sans-serif;
		margin-top:10px;
		font-size:14px;
		line-height:40px;
		width:100%;

	}

	.well {
		height:40px;
		// line-height:40px;
		// width:127px;

		float:left;
		// font-size:16px;
		color:#bbb;
		i {
			font-size:100%;
			padding-top:3px;
		}
		&:hover {
			// color:#333;
			// background:#ddd;
		}

		// width:90%;
	}

	a {
		float:left;
	}

	.learn-more {
			margin-right:7px;
	}

	.carousel {
		// max-height:530px;
		max-width:100%;
		padding:0px;
		margin:0px;
		.carousel-inner {
			max-width:100%;
			display:block;
			margin-left:auto;
			margin-right:auto;
			padding:0px;
			margin:0px;
		}
		
	}

	.btn {
		// height:40px;
		// line-height:40px;
		// width:127px;
		// margin-right:2%;
		// float:left;
		font-size:14px;
		color:#bbb;
		margin-top:20px;

		
		i {
			font-size:100%;
			padding-top:1px;
			color:black;
			width:10px;
			
			
		}
		&:hover {
			// color:#333;
			// background:#ddd;
		}

		// width:90%;
	}
	

	
}

.emphasis {
	font-family:'HelveticaNeue', Arial, sans-serif;
	// font-size:14px;
	font-weight:bold;
	// display:inline-block;
	// width:40%;
	// float:left;
	// padding-left:10px;
}

.descript_icon {
	font-size:20px;
	color:#ddd;
}

.tag {
	background-color: #F4F4EB;
	color: rgba(0, 0, 0, 0.45098);
	margin-right:10px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
}

#disgo_div {
	img {
		// padding-bottom:0px;
		// margin-bottom:0px;
		
	}
	overflow:hidden;
}



