// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";


$link-color:#EE4938;

body {
	font-family:'HelveticaNeue',Arial,sans-serif;
	background-color:whitesmoke;
	a {
		color:black;
		&:hover { 
			text-decoration:none;
			color:$link-color;
		}
	}
	margin-bottom:30px;

}

@media (max-width: 600px) { 
	#nav-links {
		width:100% !important;
		text-align:center;
		padding:0px !important;
		li a {	
			color:$link-color;
			margin-left:10px !important;
			margin-right:10px !important;
			margin-top:10px;
			margin-bottom:0px;
			&:hover{
				color:black;
			}
		}
	}

	#logo {
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center !important;
	}
	.work {
		padding-left:15px !important;
		padding-right:15px !important;
		.well {
			// width:90% !important;
			margin-bottom:8px !important;
		}
		.btn {
			margin-bottom:8px !important;
			// max-width:100%;

		}
	}
	.img-span {
		display:none !important;
	}
}

@media (min-width: 601px) and (max-width:979px) { 
	#nav-l, #nav-r {
		width:50%;
		margin:0px;
	}
	#nav-l {
		float:left;
	}

	#nav-r {
		float:right;
	}
	#nav-links {
		text-align:right;
		padding:0px !important;
		li a {
			color:$link-color;
			margin-left:10px !important;
			margin-right:10px !important;
			&:hover{
				color:black;
			}
		}
	}

	#logo {
		display:block;
		margin-left:20px;
		text-align:left !important;
	}
	.work {height:20em;}
}

@media (min-width: 768px) {
	.work-grid {
		margin-left:10px;
		margin-right:10px;
	}
	.work {height:20em;}
}

@media (min-width: 980px) { 
	#logo {
		display:block;
		margin-left:20px;
		text-align:left !important;
	}
	.work {height:20em;}

}

@media (min-width: 1150px){
	.work {



	}
}


ul.inline  {
	margin-left: 0;
	list-style: none;
	li { 
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

.cont-nav {
	margin-top:20px;
	padding:0px 10px 10px 0px;
	border-bottom:1px solid #ddd ;
}

#header {
	max-width:1150px;
	margin-left:auto;
	margin-right:auto;
	padding-right:10px;
	padding-left:10px;
}

#logo {
	font-size:2.0em;
	width:8em;
	color:#999;
	line-height:50px;
	font-family:'HelveticaNeue';
	font-weight:bold;
	&:hover{
		color:$link-color;
	}
	
}

#nav-links {
	text-align:center;
	float:right;
	line-height:50px;
}


#nav-links li a {
	color:#999;
	margin-left:30px;
	margin-right:10px;
	&:hover{
		color:$link-color;
	}

}

#work-container {
	max-width:1150px;
	margin-left:auto;
	margin-right:auto;
	padding-right:10px;
	padding-left:10px;
}

.row-fluid {
	width:100%;
	.grid {
		height:10em;
		font-size:20px;
		display:block;
		margin-bottom:2%;
	}
	.grid-icon {
		display:block;
		width:100%;
		background-color:transparent;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		height:100%;
		text-align:center;
		img {
			width:auto;
			height:auto;
			max-width:90%;
			max-height:50%;
			margin-top:35px;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:15px;
			line-height:100%;			
		}

		i {
			width:50%;
			height:50%;
			font-size:10em;
			line-height:100%;
			margin-bottom:15px;
			margin-top:35px;
		}

		.icon-heart {
			color:$link-color;
		}

		.icon-globe {
			color:#08C;
		}

		.mid-center {
			position:relative;
			top:-50px;
			width:70%;
			display:block;
			margin-left:auto;
			margin-right:auto;
			font-size:1.2em;
			padding:10px;
			font-family:'RobotoRegular';
		}

		&:hover {
			color:black;
		}
	}
	i {
		font-size:2.0em;
	}
}

.work {
	margin-top:20px;
	width:100%;
	background:white;
	border:1px solid #ddd;
	padding:25px 25px 25px 25px;
	color:$link-color;
	.icon-tag {
		height:24px;
	}
	.span6 {
		float:left;
	}
	.description {
		font-family:'RobotoLight', 'HelveticaNeue', Arial, sans-serif;
		font-size:16px;
		margin-bottom:10px;

	}

	.built_description {
		margin-bottom:20px;
				font-family:'RobotoLight', 'HelveticaNeue', Arial, sans-serif;

	}

	.well {
		height:40px;
		line-height:40px;
		width:127px;

		float:left;
		font-size:16px;
		color:#bbb;
		i {
			font-size:100%;
			padding-top:3px;
		}
		&:hover {
			// color:#333;
			// background:#ddd;
		}

		// width:90%;
	}

	a {
		float:left;
	}

	.learn-more {
			margin-right:7px;
	}

	.btn {
		// height:40px;
		// line-height:40px;
		// width:127px;
		// margin-right:2%;
		float:left;
		font-size:14px;
		color:#bbb;

		
		i {
			font-size:100%;
			padding-top:1px;
			color:black;
			width:10px;
			
			
		}
		&:hover {
			// color:#333;
			// background:#ddd;
		}

		// width:90%;
	}
	

	
}



#disgo_div {
	img {
		padding-bottom:0px;
		margin-bottom:0px;
		
	}
	overflow:hidden;
}



